body {
  margin: 0;
  width: 100vw;
  background-color: rgba(245, 247, 250, 0.9);
  color: #0c284f;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/body-background.jpg');
  background-position: center center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-weight: 900;
  font-size: 3em;
  letter-spacing: -0.5px;
  margin-block-start: 3px;
  margin-block-end: 3px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: -1.5px;
  margin-block-start: 3px;
  margin-block-end: 3px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  font-weight: 300;
  font-size: 1.5em;
}

h4 {
  letter-spacing: -1.5px;
  margin-block-start: 3px;
  margin-block-end: 3px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 25px;
}

p {
  font-weight: 300;
}

@media (max-width: 599px) {
  h1 {
    font-size: 2.5em;
  } 
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 20px;
  }
}

/* color {
  background-color: rgba(3, 50, 110, 0.2);
  color: #1c2f4d;
  color: #61d1be;
  color: #e0e0e0;
  background-color: rgba(147, 233, 217, 0.7);
  background-color: #93e9d9;
  background-color: rgba(142, 208, 216, 0.7);
  background-color: #8ed0d8;
  background-color: rgba(252, 250, 250, 0.9);
} */